<!--
/**
  * file name: views/index.ejs
  * auther's name : Tom Tsiliopoulos
  * Modified by: Nusrat Jahan
  * Student Id: 300967157
  * Date: April 04, 2019
  */
-->


<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <% if ((title == "Contact")) { %>
          <a class="btn btn-primary" href="/contact-list/add" role="button">Contact with me</a>
        <% } %>
      </div>
    </div>

<% include ./partials/footer.ejs %>