/* Project Page*/

#projectPage{
  padding-left: 150px;
  padding-bottom: 30px;
  background-color: lightgray;
}


.projecthead{
  margin-top: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;

}
