<div id="contactPage">
  <h3 class="text-primary font-weight-bold p-5">
      Leave your contact information
  </h3>
  <div class="container">
      <div class="row">
         <div class="col col-md-6">
              <div class="card">
                <div class="card-body">
                  <a routerLink="/contact/contact-list/add" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact with me</a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
