<!--
/**
  * file name: client/src/app/contacts/contact-details.component.html
  * auther's name : Tom Tsiliopoulos
  * Student name: Nusrat Jahan
  * Student Id: 300967157
  * Date: April 04, 2019
  */

-->


<!-- Form based Contact page-->

<div id="contactPage">
  <h3 class="pt-5 text-center text-primary">Leave your information below: </h3>
  <fieldset class="w-75 m-5 p-5">

    <!-- Contact form -->

    <form class="form" (submit)="onDetailsPageSubmit()">

      <!-- First name field -->
      <div class="form-group">
        <label for="firstNameTextField">First Name</label>
        <input type="text" class="form-control"
        id="firstNameTextField"
        placeholder="Enter First Name"
        name="firstName"
        [(ngModel)]="contact.firstName"
        value="{{ contact.firstName }}"
        required>
    </div>

      <!-- Last name field -->
      <div class="form-group">
        <label for="lastNameTextField">Last Name</label>
        <input type="text"
        placeholder="Enter Last Name"
        class="form-control"
        id="lastNameTextField"
        name="lastName"
        [(ngModel)]="contact.lastName"
        value="{{ contact.lastName }}"
          required>
      </div>

      <!-- contact number field -->
      <div class="form-group">
        <label for="ContactNumTextField">Contact number</label>
        <input type="text" placeholder="Enter phone number" class="form-control" id="ContactNumTextField"
          name="contactNumber"
          [(ngModel)]="contact.contactNumber"
          value="{{ contact.contactNumber }}"
          required>
      </div>

      <!-- email field -->
      <div class="form-group">
        <label for="EmailTextField">Email address</label>
        <input type="text" placeholder="Enter email address" class="form-control" id="EmailTextField" name="email"
        [(ngModel)]="contact.email"
        value="{{ contact.email }}"
          required>
      </div>

      <!-- message field -->
      <div class="form-group">
        <label for="MessageTextField">Message</label>
        <textarea placeholder="Leave me your message" rows="5" class="form-control" id="MessageTextField"
        name="message" [(ngModel)]="contact.message"
        value="{{ contact.message }}"
          required></textarea>
      </div>

      <!-- submit button -->
      <button type="submit" class="btn btn-primary mr-5">
        <i class="fas fa-edit"></i> {{ title }}</button>
        <a routerLink="/contact" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a>
    </form>

  </fieldset>

  <a class="btn btn-primary" href="/home" role="button">Back to home page</a>

</div>



