<!--
  /**
  * file name: client/src/app/pages/page-not-found/page-not-found.component.html
  * auther's name : Tom Tsiliopoulos
  * modified by: Nusrat Jahan
  * Student Id: 300967157
  * Date: April 04, 2019
  */


-->
<!-- shows up when page is not found -->
<div id="notFoundPage">
    <div class="row text-center">
      <div class="col col-md-12">
        <h2 class="display-3"><strong>Error: 404</strong>-Page Not Found</h2>
        <a routerLink="/home" class="btn btn-primary btn-lg"><i class="fas fa-undo-alt fa-lg"></i> Back to Home Page</a>
      </div>
    </div>
</div>

